
@import "src/scss/colors";

@mixin section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: $main-color;
}

@mixin flexPositionColumn {
    display: flex;
    flex-direction: column;
}

@mixin flexPositionRow {
    display: flex;
    flex-direction: row;
}

@mixin positionCentr{
    margin: 0 auto;
    max-width: 1170px;
}

@mixin menuElementsStyle{
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}