
@import "src/scss/mixins";
@import "src/scss/colors";
@import "src/scss/reset";

// Global


html {
    overflow-x: hidden;
}

body{
    background: rgba(0, 0, 0, 0.0001);
    font-family: $main-font;
}
section{
    display: flex;
    width: 100vw;
}

// Menu

.menu{
    display: flex;
    justify-content: end;
    &__button-open,
    &__button-close {
        width: 44px;
        height: 37px;
        border: none;
        background: #000000;
        padding: 0;
        position: relative;
    }
    &__button-open{
        display: none;
    }
    &__container{
        padding: 23px 28px;
    }

    img{
        width: 100%;
        height: 100%;
    }
    &__top{
        display: none;
        @include menuElementsStyle;
        a{
            color: $main-color;
            text-decoration: none;
        }
    }
    &__top-link{
        display: inline-block;

        a:hover{
            color: #57A4A4;
        }
    }
    &__wrapper{
        width: 182px;
        height: 208px;
        background: #F5F5F5;
        position: absolute;
        right: 28px;
        display: none;
        @include menuElementsStyle;
    }
    a{
        color: $main-color;
        text-decoration: none;
    }
    &__top-mobil{
        @include flexPositionColumn;
    }
    &__top-mobil-link{
        display: inline-block;
        padding: 4px 0 4px 13px;
    }
    &__top-mobil-link:hover{
        background: #E5E5E5;
        a{
            color: #57A4A4;
        }
    }
}

@media (min-width: 769px){
    .menu{
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        &__top{
            @include flexPositionRow;
            justify-content: space-between;
        }
        &__button-open,
        &__button-close{
            display: none;
        }
        &__container{
            flex-grow: 1;
            padding: 18px 164px 15px;
        }
        &__wrapper{
            display: none;
        }
    }
}

@media (min-width: 1200px){
    .menu{
        padding: 29px 0 34px;
        @include positionCentr;
        &__container{
            flex-grow: 1;
            padding: 16px 178px 17px;
        }
    }
}

// Header

.header{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: end;
    &__img{
        padding: 0 28px 38px 28px;
        img{
        width: 100%;
        }
    }
}

@media (min-width: 769px){
    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        &__img{
            width: 100%;
            padding: 0 80px 56px 80px;
            img{
                width: 100%;
            }
        }
    }
}

@media (min-width: 1200px){
    .header{
        @include positionCentr;
        padding: 0;
       &__img{
        padding: 0 0 65px 0;
        img{
        width: 100%;
        }
    }
    }
}

// Recent-posts

.recent-posts{
    @include flexPositionColumn;
    font-family: $main-font;
    justify-content: start;
    &__title{
        @include section-title;
        margin-bottom: 23px;
        padding-left: 28px;
    }
    &__cards{
        padding-left: 28px;
    }
    &__card{
        @include flexPositionColumn;
    }
    &__card-img{
        width: 160px;
        height: 140px;
        margin-bottom: 11px;
        img{
            width: 100%;
        }
    }
    &__card-title{
        font-weight: 700;
        font-size: 14px;
        line-height: 30px;
        color: $main-color;
    }
    &__card-subtitle{
        font-weight: 400;
        font-size: 11px;
        line-height: 20px;
        color: $second-color;
    }
    &__card-text{
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: $text-color;
        display: none;
    }
    &__card-description{
        margin-bottom: 28.5px;
        @include flexPositionColumn;
    }
    &__card--hidden{
        display: none;
    }
}

@media (min-width: 769px){
    .recent-posts{

        &__title{
            padding-left: 80px;
        }

        &__cards{
            padding-bottom: 28px;
            padding-left: 80px;
        }
        &__card{
            flex-direction: row;
        }
        &__card--hidden{
            display: flex;
        }
        &__card-img{
            margin-right: 21px;
            margin-bottom: 32px;
        }
        &__card-text{
            display: block;
        }
        &__card-description{
            max-width: 404px;
        }
    }
}

@media (min-width: 1200px){
    .recent-posts{
        text-align: start;
        @include positionCentr;

       padding-left: 0;
       &__title{
            font-size: 16px;
            padding-left: 0;
        }
        &__cards{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 25px;
            @include positionCentr;
            padding-left: 0;
        }
    }
}

// Instagram

.instagram{
    &__wrapper{
        @include flexPositionColumn;
        font-family: $main-font;
        justify-content: start;
        padding: 49px 0 42px 0;
    }
    &__title{
        @include section-title;
        margin-bottom: 13px;
        padding-left: 28px;
    }

    &__images{
        display: grid;
        grid-template-columns: 1fr;
    }

    &__image{
        padding: 0 47px 0 28px;
        img{
            width: 100%;
        }
    }
    &__image--hidden{
        display: none;
    }
    &__go{
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;
        text-transform: uppercase;
        color: $main-color;
        display: none;
    }
    &__titles{
        @include flexPositionRow;
        justify-content: space-between;
    }
}

@media (min-width: 769px){
    .instagram{
        width: 100%;
        display: flex;
        flex-grow: 1;

        &__color{
            background: rgba(0, 0, 0, 0.03);
            mix-blend-mode: normal;
            display: flex;
            flex-grow: 1;

        }
        &__wrapper{
            padding: 47px 0 50px;
            display: flex;
            flex-grow: 1;
            width: 100%;
        }
        &__titles{
            padding-left: 80px;
            padding-right: 92px;
        }
        &__title{
            padding-left: 0;
        }
        &__go{
            display: block;
        }
        &__images{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 9px;
            padding-left: 80px;
            padding-right: 92px;
        }
        &__image{
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
        &__image--hidden{
            display: block;
        }
        &__image--last{
            display: none;
        }
    }
}

@media (min-width: 1200px){

    .instagram{
        position: relative;
        text-align: center;
        &__titles{
            padding: 0;
        }
        &__image--last{
            display: block;
        }
        &__images{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 10px;
            padding-left: 0;
            width: 100%;
        }
        &__image{
            width: 100%;
        }
        &__wrapper{
            @include positionCentr;
            padding: 48px 0;
        }
    }
}

// Footer
.footer{
    background: #000000;
    font-family: $main-font;
    color: #FEFEFE;
    padding-bottom: 47px;
    padding-top: 38px;
    &__wrapper{
        @include flexPositionColumn;
        align-items: center;
    }
    &__title{
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        text-transform: uppercase;
    }
    &__text{
        max-width: 303px;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #B9B9B9;
        margin: 8px 35px 26px;
        text-align: center;
    }
    &__icons{
        @include flexPositionRow;
        width: 192px;
        justify-content: space-between;

    }
    &__contacts{
        @include flexPositionColumn;
        align-items: center;
        margin-top: 25px;
    }
    &__contact{
        font-size: 14px;
        line-height: 24px;
        color: #B9B9B9;
    }
}

@media (min-width: 769px){
    .footer{
        &__title{
            font-size: 16px;
        }
        &__text{
            font-size: 16px;
            line-height: 28px;
            max-width: 684px;
        }
        &__contact{
            font-size: 16px;
            line-height: 26px;
        }

        &__contacts{
            @include flexPositionRow;
            align-items: center;
        }
    }
}

@media (min-width: 1200px){
    .footer{
        &__wrapper{
            @include positionCentr;
        }
    }
}













